.Skilldiv{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: aliceblue;
}

.header{
    display: flex;
    align-items: center;
}

.MuiTypography-root.skillheader{

}