.MuiPaper-root.MuiDrawer-paper {
  background-color: #31102f;
  background: radial-gradient( ellipse at center, #c87887 0%, #d37183 100% );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  height: 34vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
