.MuiTypography-root.cardTextJoke {
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }